# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/active_person_react/node_modules
/active_person_react/.pnp
/active_person_react/.pnp.js
# testing
/coverage
/active_person_react/coverage
# production
/build
/active_person_react/build
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
